@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --font-sans: var(--font-sans);
  --font-mono: var(--font-mono); */
  --font-raleway: var(--font-raleway);
  --font-ralewayDots: var(--font-ralewayDots);
}

/* Utility classes */
.font-sans {
  font-family: var(--font-sans), sans-serif; /* Raleway */
}

.font-mono {
  font-family: var(--font-mono), monospace; /* Fira Code */
}

.font-raleway {
  font-family: var(--font-raleway); /* Raleway */
}

.font-ralewayDots {
  font-family: var(--font-ralewayDots); /* Raleway Dots */
}

html {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

html::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(70, 130, 180, 0.1);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(70, 130, 180, 0.5);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(70, 130, 180, 0.7);
}

/* Dark mode scrollbar */
.dark .custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(184, 255, 46, 0.1);
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(184, 255, 46, 0.5);
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(184, 255, 46, 0.7);
}

/* Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(70, 130, 180, 0.5) rgba(70, 130, 180, 0.1);
}

.dark .custom-scrollbar {
  scrollbar-color: rgba(184, 255, 46, 0.5) rgba(184, 255, 46, 0.1);
}
